.profilePageHeader {
    text-align: center;
    margin-bottom: 20px;
}

.profilePageInfo td {
  color: #000000
}

table, td {
    padding: 10px;
}

.profilePageInfo strong {
    color: #FB8C00;
}


.profilePageGamesHeader {
  text-align: center;
}

.tdh {
    text-align: right;
}

.sectionHeader {
  text-align: center;
}
table{
  width: 100%;
  margin: 0 auto;
}
td {
  width: 200px;
}

.all-games-grid-list::-webkit-scrollbar {
  height: 8px;
}

.all-games-grid-list::-webkit-scrollbar-track {
  background: #ccc;
}

.all-games-grid-list::-webkit-scrollbar-thumb {
  background: #FB8C00;
}
