.singleGameStat, .myProfileData, .tagSection{
  display: inline-block;
}

@media (min-width: 768px) {
  .singleGameStat, .myProfileData, .tagSection{
    padding: 15px 15px;
  }
}

.profilePic img {
  width: 100%;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.allGameStat {
  overflow-x: scroll;
  white-space: nowrap;
}

.profilePageSplit {
  border: solid 2px #3871BB;
  background: linear-gradient(#F3843E, #FAB433);
}

@media (min-width: 768px) {
  .profilePageSplit {
    padding: 20px;
  }
}

.gamertag_input  {
  max-width: 200px;
}
