/*
color pallet
Dark grey: #393939
Dull Blue: #3871BB
Dull Orange: #F3843E
Gold: #FAB433
grey: #6E6E6E

*/


body{
  background-color: #111;
  color: #6e6e6e;
  overflow-y: scroll;
}

.all-page-layout {
  background: linear-gradient(#FAB433, #F3843E );
  border: solid 2px #F3843E;
  color: #333;
}

@media (min-width: 768px) {
  .all-page-layout {
    min-height: calc(100vh - 200px);
  }
}
