/*
color pallet
Dark grey: #393939
Dull Blue: #3871BB
Dull Orange: #F3843E
Gold: #FAB433
grey: #6E6E6E

*/


body{
  background-color: #1d1d1d;
  color: #bbb;
  font-weight: 100;
  overflow-y: scroll;
}

.all-page-layout {
  background-color: #333;
  color: #ccc;
}

@media (min-width: 768px) {
  .all-page-layout {
    min-height: calc(100vh - 200px);
  }
}
