.all-games-grid-list::-webkit-scrollbar {
  height: 8px;
}

.all-games-grid-list::-webkit-scrollbar-track {
  background: #ddd;
}

.all-games-grid-list::-webkit-scrollbar-thumb {
  background: #666;
}
