.all-games-grid-list::-webkit-scrollbar {
  height: 8px;
}

.all-games-grid-list::-webkit-scrollbar-track {
  background: #ccc;
}

.all-games-grid-list::-webkit-scrollbar-thumb {
  background: #FB8C00;
}
