.sign-up-button {
  text-align: right;
}

.app-description {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign-up-button button, .sign-in-button button{
  width:60%;
  height:60%;
}
