.reccomendedFriendPaper {
  margin: 10px;
}

.reccomendedFriend {
  background: linear-gradient(#F3843E, #FAB433);
  border: solid 2px #3871BB;
  will-change: contents;
}

.reccomendedFriend:hover{
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.reccomendedFriendProfilePic img{
  width: 100%;
  max-height: 100px;
  max-width: 100px;
  min-height: 100px;
  min-width: 100px;
  display: block;
}

.recommendedFriendPageHeader {
  text-align: center;
}

#reccomended-friend-name {
    font-size: 20px;
    font-weight: bold;
}

#reccomended-friend-status {
    font-size: 15px;
}

#reccomended-friend-recent {
    font-size: 15px;
}

.friendMenu {
  text-align: center;
}

.addFriendButton {
  margin-top: 10px;
}
