.all-page-layout {
  padding: 10px;
  background-color: #F3843E;
  border: solid 2px #FAB433;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 80%;
}

.my-friends{
  height: 450px;
  overflow-y: scroll;
}
