.my-summary-info {
  padding: 10px;
  background-color: green;
  border: solid 2px grey;
}

.my-friend-suggestion{
  margin-top: 15px;
  padding: 10px;
  height: 275px;
  background-color: blue;
  overflow: hidden;
  overflow-y: scroll;
  border: solid 2px grey;
}

.my-friends{
  height: 450px;
  background-color: purple;
  overflow-y: scroll;
}
