/*
color pallet
Dark grey: #393939
Orange: #FF5A09
Dull Orange: #F3843E
Mango: #FF9900
grey: #6E6E6E

*/

#main{
  margin-top: 70px;
}

.footer{
  background-color: black;
  margin-top: 20px;
}

body{
  background-color: yellow;
}
