.friend {
    background: linear-gradient(#F3843E, #FAB433);
    border: solid 2px #3871BB;
    margin: 10px;
}

.friend:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.friendProfilePic img {
    /*width: 100%;*/
    height: auto;
    max-height: 110px;
}

.friendData {
    padding: 5px;
}

.friendsPageHeader {
    text-align: center;
}

#friend-name {
    font-size: 20px;
}

#friend-status {
    font-size: 15px;
}

#friend-recent {
    font-size: 15px;
}
