.friend {
    color: #222;
    background: linear-gradient(#FAB433, #F3843E );
    box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
    margin: 10px;
    will-change: contents;
}

.friend:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.friendProfilePic img {
    height: auto;
    max-height: 110px;
}

.friendData {
    padding: 5px;
}

.friendsPageHeader {
    text-align: center;
}

#friend-name {
    font-size: 20px;
    font-weight: bold;
}

.addFriendButton {
  position:absolute;
  top: 0;
  right: 0;
}
