.friend {
  background: linear-gradient(#F3843E, #FAB433);
  border: solid 2px #3871BB;
  margin: 10px;
}

.friend:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.friendProfilePic img{
  width: 100%;
  max-height: 100px;
  max-width: 100px;
  min-height: 100px;
  min-width: 100px;
  display: block;
}

.friendData {
  padding: 5px;
}

.friendsPageHeader {
  text-align: center;
}
